a{
	color: #777777;
	text-decoration: none;
}
a:hover {
    color: #e75143;
    text-decoration: none;
}
a:active {
    color: #e75143;
}
.header{
	/*margin-left: -15px;*/
  	/*margin-right:-15px;*/
	height: 50px;
	width: 100%;
	background-color: #f8fafb;
	padding: 10px;
	box-sizing: border-box;
	position: relative;
	
}
.header-inside{
width:100%;
height: 30px;
padding-left:40px;
background-color:; 
}
.logo-wrapper{
	display: flex;
	float: left;
	background-color: ; 
	justify-content: center;
  	align-items: center;
}
.logo{
	display: inline;
	height: 30px;
	width:30px;
}
.mmGranites{
	padding-left: 10px;
	font-weight: 700;
	font-size:16px;
	color: #3a3a3a;
}
.nav-bar{
	font-size: 15px;
	font-weight: 700;
	min-height: 30px;
	min-width: 55%;
	display: flex;
	float: right;
	justify-content: space-around;
  	align-items: center;
}
.active-nav-link{
	 color: #e75143;
}
.footer{
	background-color: #2f3333;
	width: 100%;
	min-height:350px; 
	color: #999999;
	text-align: center;
}
.inside-footer{
	/*height: 100%;*/
	margin:0px;
}
.address-block{
	/*background: red;*/
	height: 100%;
	padding: 50px;
	padding-top: 35px;
	text-align: left;
}
.query-block{
	/*background: blue;*/
	height: 100%;
	padding: 50px;
	padding-top: 35px;
	padding-bottom: 5px;
}
.social-block{
	/*background: green;*/
	height: 100%;
	padding: 50px;
	padding-top: 35px;
}
.logo-wrapper-footer{
	display: flex;
	background-color: ; 
	justify-content: center;
  	align-items: center;
}
.mmGranites-footer{
color: #999999;
}
.footer-heading{
color: #999999;
font-weight: 700;
font-size:16px;
}
.address{
margin-top: 20px;
}

.query-form{
	padding-top: 35px;
}
.copyright{
	display: inline-block;
	padding: 5px;
}
.social-icon-block{
	padding: 50px;
	padding-top: 35px;
}
.social-icon{
	height: 20px;
	width: 20px;
	margin:15px;
}
.jumbo{
	margin-left: -15px;
	margin-right: -15px;
	margin-top: -20px;
	padding: 10px;
	text-align: center;
	color: #777777;
    background-color: #eee;
}
.menu-icon{
	position: absolute;
	top: 15px;right: 20px;
	font-size: 18px;
	font-weight: 999;
	color: #e75143;
	display: none;
	z-index: 9999;
}
@media only screen and (max-width: 768px){
	.nav-bar{
		width: 70%;
	}
	.header-inside{
		padding-left: 20px;
	}
}
@media only screen and (max-width: 598px){
	.nav-bar{
		visibility: hidden;
		flex-direction: column;
		position: fixed;
		height: auto;
		width: auto;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		z-index: 999;
		background-color: rgba(0,0,0,0.9);
	}
	.nav-bar a{
		color: white;
	}
	.nav-bar a:hover{
		color: #e75143;
	}
	.menu-icon{display: inline;}
	.header-inside{
		padding-left: 15px;
	}
}
@media only screen and (max-width: 768px){
	.address-block{
		padding-top: 30px;
		padding-bottom: 0px ;
	}
	.query-block{
		padding-top: 30px;
		padding-bottom: 0px ;
	}
	.social-block{
		padding-top: 30px;
		padding-bottom: 0px ;
	}
	.social-icon-block{
		padding: 10px;
	}
}
.nav-bar-mobile{
	visibility: visible !important;
}
.other-links-list{
	list-style-type: none;
	margin-top: 20px;

}
.other-links-list a {color: #999999;}
.other-links-list li {padding: 4px;}
.mm-button{
	background-color: #E8EAED;
    color: #80868B;
    border: none;
    opacity: 1;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 100px;
    margin-top: 20px;
    font-size: 15px;
    outline: none;
}
.query-btn{
	background-color: #e75143;
	color: black;
	}