#banner_head{
	font-size:40px;
	color:white;
	}
#banner_tagline{
	font-size:25px;
	color:white;
}
.why_us_text
{
	color: black;
	/*font-size: 18px;*/
	padding-top:20px;
	padding-bottom: 10px; 	
}
.item{
	position: relative;
}
#banner
{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
  	align-items: center;
position: absolute;
left:0;
top: 0;
height:100%;
width:100%;
z-index: 999;
background-color: rgba(0,0,0,.4);
 }
 #banner-small{
 	display: flex;
	flex-direction: column;
	justify-content: space-around;
  	align-items: center;
 position: absolute;
left:0;
top: 80%;
height:20%;
width:100%;
z-index: 999;
background-color: rgba(0,0,0,.4);	
 }
 .banner-item{
 	color: white;
 	font-size: 20px;
 }
			#para1
			{
				font-family: cursive;
				
			}
			.readmore
			{
				font-family:cursive;
				font-style:oblique;
				font-weight: 900;
			}
			#readmore1
			{
				font-size: 2em;
				font-family: cursive;
				
			}
			#readmoreecomm
			{
				font-size: 2em;
				font-family: cursive;
				
			}
			
			
			#proread3
			{
				font-size: 2em;
				font-family: cursive;
				
			}
			#proread4
			{
				font-size: 2em;
				font-family: cursive;
				
			}
			#wbd1
			{
				height: 200px;
				width: 200px;
			}
			#readmore3
			{
				display: none;
			}
			#readmoreecom
			{
				display:none;
			}
			#product3
			{
				display: none;
			}
			#product4
			{
				display: none;
			}
#home-slider .item img{
    display: block;
    width: 100%;
    height: auto;
}
.client-img{
	width: 75px;height: 75px;
	border-radius: 100%;
}
.client-qoute{
	padding-left: 20px;
	color: #777777;
	text-align: left;
	float: left;
}
@media screen and (max-width: 760px){
	#banner_head{
	font-size:30px;
	}
#banner_tagline{
	font-size:18px;
	}
 .banner-item{
 	font-size: 18px;
 }
} 
@media screen and (max-width: 576px){
	#banner_head{
	font-size:25px;
	}
#banner_tagline{
	font-size:15px;
	}
	 .banner-item{
 	font-size: 13px;
 }
} 
@media screen and (max-width: 576px){
	#banner_head{
	font-size:20px;
	}
#banner_tagline{
	font-size:13px;
	}
} 